.attendance-container {
  width: 80%;
  margin: 25px 60px 50px 280px;
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  height: 100vh;
  padding-right:50px;
}

.page-title {
  text-align: center;
  color: #162F57;
}

.info-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.table-container{
  overflow-x: scroll;
}

.button-container-left {
  display: flex;
  align-items: center;
}

.button-container-right {
  display: flex;
}

.info-heading {
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #162F57;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px #0000001a;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto; 
  max-height: 550px; 
  border-radius: 8px;
  scrollbar-width: thin; 
  scrollbar-color:#f0f4f8; 
}

.table-container::-webkit-scrollbar {
  height: 8px; 
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f0f4f8; 
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.attendance-table thead {
  position: sticky;
  top: 0;
  background-color: #ffffff; 
  color: white;
  z-index: 10;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-table th{
  background-color: #162F57;
  color: #ffffff;

}
.attendance-table th,
.attendance-table td {
  padding: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}



.attendance-table tr:nth-child(even) {
  background-color: #fff8f8;
}

